Package: urlnotify
Version: 0.0.2
Architecture: all
Depends: libnotify-bin,
    bash, 
    wl-clipboard,
    coreutils
Maintainer: goddaneel <goddaneel@gmail.com>
Description: Block unauthorized URL requests and display a notification prompting for action.

