[Desktop Entry]
Type=Application
Name=URLnotifyC
Icon=urlnotifyc
Exec=urlnotifyc --notify %u
StartupNotify=true
StartupWMClass=urlnotifyc
MimeType=x-scheme-handler/http;x-scheme-handler/https;
Categories=Utility;

