[Desktop Entry]
Type=Application
Name=URLnotify
Icon=urlnotify
Exec=urlnotify url %u
StartupNotify=true
StartupWMClass=urlnotify
MimeType=x-scheme-handler/http;x-scheme-handler/https;
Categories=Network;
