[Desktop Entry]
Type=Application
Name=URLnotify
Icon=urlnotify
Exec="/usr/bin/urlnotify" %u
StartupNotify=true
StartupWMClass=urlnotify
MimeType=x-scheme-handler/http;x-scheme-handler/https;
Categories=Utility;Network;
